.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:   #5f8bc5;
}
.table-view .column-header .label{
    -fx-text-fill: #e8e8e8;
    -fx-font-family: "DIN Alternate";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: Left;
}
.table-view .cell{
    -fx-cell-size: 35;
    -fx-alignment: center;
    -fx-border-color: #fff;
    -fx-text-fill: #485460;
    -fx-alignment: LEFT;


}
.table-view .cell:selected{
    -fx-cell-size: 35;
    -fx-alignment: center;
    -fx-border-color: #fff;
    -fx-text-fill: rgba(72, 84, 96, 0);
    -fx-alignment: LEFT;
    -fx-background-color: rgba(141, 159, 183, 0.08);

}
.table-row:hover {
    -fx-background-color: #a6ff6c;


}



/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(  #5f8bc5,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(  #5f8bc5,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
